{% extends 'base.html' %}
{% block content %}
{% load static%}






{% comment %} <div class="container mt-4"> {% endcomment %}

    {% comment %} <div class="container my-5 text-center"> {% endcomment %}

    {% if messages %}
        <div class="alert alert-danger">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}


{% comment %} Hero Section  {% endcomment %}
    {% if user.is_authenticated %}
        <h2 class="display-5 font-weight-bold text-dark">Welcome, {{ user.username }}!</h2>
    {% else %}
        <h2 class="display-5 font-weight-bold text-dark">Welcome, Guest!</h2>
    {% endif %}
    {% comment %} <p class="lead text-muted">Discover our latest products!</p>
    <hr class="w-25 mx-auto"> {% endcomment %}

</div>
      
    <!-- Hero Section -->
<section class="hero text-center">
    <div class="container">
        <h1>Discover our latest products!</h1>
        <p>Shop the best products at unbeatable prices!</p>
        <a href="{% url 'all_category' %}" class="btn btn-primary btn-lg">Shop Now</a>
    </div>
</section>
{% comment %} 
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info text-center" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %} {% endcomment %}

{% comment %} Products Section {% endcomment %}

      
<section id="products" class="container my-5">
    <h2 class="text-center mb-4">Featured Products</h2>
     {% for product in products %}  
            <div class="row">
                <div class="col-md-3">
                    {% if product.image %}
                    <div class="card product-card">                        
                            <img src="{{ product.image.url }}" class="card-img-top" alt="Product 1">
                            <div class="card-body">
                    {% else %}    
                        <p>No image available</p>
                    {% endif %} 
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">GH₵{{ product.price }}</p>
                        <a href="#" class="btn btn-primary u">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center">No products available.</p>
    {% endfor %}
 
{% endblock %}
