{% extends 'base.html' %}
{% block content %}


<a class="btn btn-outline-dark" href="{% url 'home' %}">&#x2190; Continue Shopping</a>
<h1>{{ category.name }}</h1>
<a href="{% url 'edit_category' id=category.id %}">Edit</a> | <a href="{% url 'delete_category' id=category.id %}">Delete</a>
<hr>
<!-- I want to display all products assoiciate with this category -->
<h3>Products in this Category:</h3>
<ul>
  <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text"><strong>Price:</strong> ₵{{ product.price }}</p>
                        <a href="{% url 'product_detail' id=product.id %}" class="btn btn-sm btn-outline-secondary mb-2">View Details</a>
                        <form action="{% url 'add_to_cart' id=product.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-primary btn-sm btn-block w-100">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center">No products available.</p>
        {% endfor %}
    </div>
</ul>

{% endblock content %}